@model Car_Dealership.Models.Car

@{
    ViewData["Title"] = "Удаление автомобиля";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить этот автомобиль?</h3>
<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Производитель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            Модель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            Мощность (л.с.)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class="col-sm-2">
            Год выпуска
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Уровень доступа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>
